@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.page-container {
  display: flex;
}

.page-container * {
  display: flex;
}

.image-container {
  display: flex;
  background-image: url(assets/sign-up-form-picture.jpg);
}

.section-1 {
  flex-direction: column;
  background-color: rgb(246, 247, 247);
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  padding: 25px;
}

.section-2 {
  flex-direction: column;
  padding: 25px;
}

form {
  flex-direction: column;
}
.section-3 {
  flex-direction: column;
  background-color: rgb(246, 247, 247);
  flex-grow: 1;
  padding: 25px;
}

.outside-form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.form-section {
  display: flex;
  flex-grow: 1;
}

.section-container {
  flex-direction: column;
  flex-wrap: wrap;
  flex: 5;
}

.form-input {
  flex-direction: column;
}

.logo-container {
  background-image: url("./cool-sea.jpg");
  background-size: cover;
  flex: 3;
}

.final-step-wrapper {
  flex-direction: column;
}
